$bg: white;
$mc: #91b8ff;     
$altc: #ff91a5;
$altc2: #fff691;
$ff: Verdana, Geneva, sans-serif;
$tff: 'Bungee Outline', cursive;
// $mc: #324AB2;     
// $altc: #b2324a;
// $altc2: #b2ac32;

html, body {
    overflow-x:hidden;
    background-color: #e1ecf0;
  } 

#logo{
     margin-top: 1%;
     margin-left: 10px;
}

#logo img{
    height: 40px;
    width: 40px;
    margin-top: -1px;
    margin-left: 1%;
    z-index: 5;
    position: fixed;
}

.hContainer{
background-color:rgba(72, 73, 75, 0.50);
width: 100%;
height: 50px;
margin-top: -7px;
z-index: 4;
position: fixed;
}

#openBox{
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    margin-left: 90%;
    margin-top: 1%;
    z-index: 5;
}

.sideNav{
    position: fixed;
    top: 0px;
    right: -1%;
    height: 100%;
    width: 0px;
    padding-top: 50px;
    background-color: white;
    border-left: 2px solid black;
    transition: 0.5s;
    z-index: 5;
    overflow-x: hidden;
    text-align: center;
}

.sideNav a{
    padding: 1px;
    line-height: 2;
    text-decoration: none;
    font-size: 30px;
    color: black;
    display: block;
}


.sideNav a:hover{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.sideNav .closeButton{
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 30px;
    margin-left: 30px;
    margin-top: -20px;
}

.sideNav a.closeButton{
    text-decoration: none;
    font-size: 40px;
    margin-top: -20px;
    margin-right: -10px;
}

a.closeButton{
   display: block;
}

.instagram img{
    height: 10%;
    width: 10%;
    padding: 0px;
    // box-shadow: -0px -0px 0px 1px $navc; 
}

.linkedin img{
    height: 10%;
    width: 10%;
    padding: 0px;
    margin-left: 150px;
    margin-top: -68px;
    // box-shadow: -0px -0px 0px 1px $navc; 
}

.github img{
    height: 10%;
    width: 10%;
    padding: 0px;
    margin-right: 150px;
    margin-top: -70px;
    // box-shadow: -0px -0px 0px 1px $navc; 
}

//home section


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

#title h2{
    font-size: 40px;
    font-family: $tff;
    color: black;
    text-align: center;
    margin-top: 25%;
}

#title h3{
    font-size: 25px;
    color: $mc;
    font-family: $ff;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}

.profileImage img{
    height: auto;
    width: 100%;
    margin-top: 10%;
    z-index: 1;
    position: relative;
}

.profileImage {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }

}
.connectButton{
    cursor: pointer;
    background-color:rgba(72, 73, 75, 0.50);
    height: 60px;
    width: 120px;
    font-size: 10px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 3px;
    margin-top: -50%;
    margin-left: 35%;
    z-index: 2;
    position: relative;
}

.connectButton a{
    text-decoration: none;
    display: block;
    height: 30px;
    width: 120px;
    padding-top: 15px;
    margin-left: -10px;
    color: black;
    font-size: 10px;
}

// about section

#aboutWaves{
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: -10%;
}

#aboutWaves img{
    margin-top: -5%;
    height: auto;
    width: 100%;
}

#about{
    background-color: $altc;
    display: block;
    width: 100%;
    height: 75%;
}

.aboutMe{
    background-color: $altc;
    margin-top: 5%;
    height: 100%;
    z-index: 3;
    position: relative;
}
.aboutMe h1{
    font-size: 30px;
    font-family: $ff;
    text-align: center;
    padding-top: 20px;
    margin-top: -50px;
}

.aboutMe h2{
    font-size: 15px;
    font-family: $ff;
    text-align: center;
    margin-top: 15px;
}

.aboutMe h3{
    font-size: 15px;
    font-family: $ff;
    text-align: center;
    margin-top: 15px;
}

.aboutMe h4{
    font-size: 15px;
    font-family: $ff;
    text-align: center;
    margin-top: 15px;
}

.pug{
    width: 200px;
     padding-top: 10px;
     padding-bottom: 20px;
    height: auto;
    display: block;
    margin-top: 5%;
    margin: 0 auto;
    z-index: 3;
    position: relative;
}


// portfolio section


#portfolioWaves{
    margin-top: 46%;
    width: 100%;
    height: auto;
}

#portfolioWaves img{
    margin-top: -60%;
    width: 100%;
    height: auto;
    z-index: 3;
    position: relative;
}

.portfolio{
    background-color: $mc;
    display: block;
    width: 100%;
    height: 50%;
    margin-top: -40%;
    padding-top: 10%;
    z-index: 2;
    position: relative;
}

.portfolio h1{
    font-size: 30px;
    font-family: $ff;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}


// contact section

#contactWaves{
    margin-top: -60px;
    width: 100%;
    z-index: 4;
    position: relative;
}


#contactWaves img{
    margin-top: -1%;
    width: 100%;
    height: auto;
}

.contactMe{
    background-color: $altc2;
    display: block;
    width: 100%;
    height: auto;
    margin-top: -20px;
}

.contactMe h1{
    font-size: 30px;
    font-family: $ff;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 1px;
}

.contactMe form h3{
    text-align: center;
    padding-top: 20px;
    color: black;
}

.nameinput {
    width: 300px;
    margin-left: 10%; }
    
.emailinput {
        width: 300px;
        margin-left: 10%;
    }

.messageinput {
        margin-left: 10%;
        width: 300px;
        padding-bottom: 60px;
        vertical-align: text-top;
        box-sizing: border-box; }

input[type="submit"] {
            margin-top: 5%;
            margin-left: 10%;
            background: white;
            cursor: pointer;
            width: 300px;
            height: 40px;
            font-size: 10px;
            font-family: arial black, arial, sans-serif;
            border-color: #3c4043;
}

#footer{
    margin-top: 5px;
}

#footer h1{
    text-align: center;
}


@media only screen and (min-device-width: 768px ){
body{
    background-color: #e1ecf0;  

    }

#logo img{
        height: 6%;
        width: 6%;
        margin-top: 5px;
        display: block;
        margin-left: 10px;
        margin-right: auto;
        z-index: 4;
        position: fixed;
    }

#openBox{
        font-size: 40px;
        cursor: pointer;
        margin-left: 92%;
        margin-top: 5px;
    }

    .hContainer{
        background-color:rgba(72, 73, 75, 0.50);
        width: 100%;
        height: 5%;
        margin-top: 10px;
        z-index: 3;
        position: fixed;
        }


    .sideNav{
        position: fixed;
        top: 0px;
        right: -2px;
        height: 100%;
        width: 0px;
        padding-top: 50px;
        background-color: white;
        border-left: 2px solid black;
        transition: 0.5s;
        z-index: 5;
        overflow-x: hidden;
        text-align: center;
        }
    
    .sideNav a{
        padding: 1px;
        line-height: 2;
        text-decoration: none;
        font-size: 30px;
        color: black;
        display: block;
    }
    
    .sideNav a:hover{
        text-decoration: line-through;
        text-decoration-thickness: 2px;
    }
    
    .sideNav .closeButton{
        position: absolute;
        top: 0px;
        right: 20px;
        font-size: 30px;
        margin-left: 30px;
        margin-top: -20px;
    }
    
    .sideNav a.closeButton{
        text-decoration: none;
        font-size: 40px;
        margin-top: -10px;
        margin-right: 10px;
    }


a.closeButton{
    display: block;
 }
 
 .instagram img{
    height: 10%;
    width: 10%;
    padding: 0px;
    // box-shadow: -0px -0px 0px 1px $navc; 
}

.linkedin img{
    height: 10%;
    width: 10%;
    padding: 0px;
    margin-left: 150px;
    margin-top: -102px;
    // box-shadow: -0px -0px 0px 1px $navc; 
}

.github img{
    height: 10%;
    width: 10%;
    padding: 0px;
    margin-right: 150px;
    margin-top: -105px;
 }
 
//home section


//home section


@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


#title h2{
    font-size: 80px;
    font-family: $tff;
    margin-top: 100px;
    padding-right: 1%;
    color: black;
    text-align: right;
}

#title h3{
    font-size: 20px;
    font-family: $ff;
    text-align: right;
    margin-top: 1%;
    padding-bottom: 10px;
    padding-right: 1%;
    position: relative;
    z-index: 1;
}

.profileImage img{
    height: 75%;
    width: 100%;
    margin-top: -25px;
    margin-left: -50px;
}

.connectButton{
    cursor: pointer;
    background-color:rgba(72, 73, 75, 0.50);
    height: 75px;
    width: 150px;
    border: 1.5px solid black;
    border-radius: 3px;
    margin-top: -600px;
    margin-left: 50%;

}

.connectButton a{
    text-decoration: none;
    display: block;
    height: 75px;
    width: 150px;
    padding-top: 15px;
    margin-left: 5px;
    color: black;
    font-size: 14px;
    text-align: center;
}

.connectButton :hover{
    background-color:rgba(255, 145, 165, 0.7);
    border: 1.5px solid black;
    height: 75px;
    width: 150px;
    border-radius: 3px;
    margin-top: -600px;
    margin-left: 50%;
}

.connectButton a:hover{
    text-decoration: none;
    display: block;
    height: 75px;
    width: 150px;
    padding-top: 15px;
    margin-left: 5px;
    color: black;
    font-size: 14px;
    text-align: center;
}


// about section

#aboutWaves{
    background-image:url(/public/images/aboutwave.svg);
    z-index: 2;
    position: relative;
    background-repeat: no-repeat;
    margin-top: -80px;
    width: 103%;
    height: 50%;
}

#about{
    background-color: $altc;
    display: block;
    width: 100%;
    height: 80%;
    margin-top: -350px;
}


.aboutMe h1{
    font-size: 30px;
    font-family: $ff;
    text-align: center;
    padding-top: 20px;
}

.aboutMe h2{
    font-size: 20px;
    font-family: $ff;
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
}

.aboutMe h3{
    font-size: 25px;
    font-family: $ff;
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
}

.aboutMe h4{
    font-size: 20px;
    font-family: $ff;
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
}

.aboutMe img{
    width: 60%;
    padding-top: 20px;
    height: auto;
    display: block;
    margin: 0 auto;
}

// portfolio section


#portfolioWaves{
    background-image:url(/public/images/portfoliowave.svg);
    z-index: 2;
    position: relative;
    background-repeat: no-repeat;
    margin-top: -115px;
    width: 103%;
    height: 50%;
}

#portfolio{
    background-color: $mc;
    display: block;
    width: 100%;
    height: 75%;
    margin-top: -375px;
}

#portfolio h1{
    font-size: 30px;
    font-family: $ff;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}


// contact section

#contactWaves{
    background-image:url(/public/images/contactwave.svg);
    background-repeat: no-repeat;
    margin-top: -125px;
    width: 103%;
    height: 50%;
}

#contact{
    // background-color: #48494B;
    background-color: $altc2;
    display: block;
    width: 100%;
    height: 45%;
    margin-top: -365px;
}

.contactMe h1{
    font-size: 30px;
    font-family: $ff;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 1px;
}

.contactMe form h3{
    text-align: center;
    padding-top: 20px;
    color: black;
}

.nameinput {
    width: 300px;
    margin-left: 30%; }
    
.emailinput {
        width: 300px;
        margin-left: 30%;
    }

.messageinput {
        margin-left: 10%;
        width: 600px;
        padding-bottom: 60px;
        vertical-align: text-top;
        box-sizing: border-box; }

input[type="submit"] {
            margin-top: -15%;
            margin-left: 30%;
            background: white;
            cursor: pointer;
            width: 300px;
            height: 40px;
            font-size: 10px;
            font-family: arial black, arial, sans-serif;
            border-color: #3c4043;
}

#footer{
    text-align: center;
}




}

@media only screen and (min-device-width: 900px ){
body{
    background-color: $bg;
 
}


}

