<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gino portfolio</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap" rel="stylesheet">
</head>
<body>
    <div id="logo"><a href="#"><img src="/public/images/Glogo.svg" alt="logo"></a></div>


    <div id="openBox" onclick="openNav()">&#9776; </div>

    <div id="mainNav" class="sideNav">
    <a href="#">Home</a>
    <a href="#about">About</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contact">Contact</a>
    <a href="#" class="closeButton" onclick="closeNav()">&times;</a>

    <div class="socialMedia">
        <div class="instagram"><a href="https://www.instagram.com/ginoghal/"><img src="/public/images/instagram_logo.svg" alt="instagram"></a></div>
        <div class="linkedIn"><a href="https://www.linkedin.com/in/gino-ghalehpardaz-7b4a05122/"><img src="/public/images/linkedin_logo.svg" alt="linkedin"></a></div>
        <div class="github"><a href="https://github.com/ginoghal"><img src="/public/images/github_logo.svg" alt="github"></a></div>
        </div>


      </div>

      <div id="title">
          <h1>My Name is</h1>
          <h2>Gino Ghalehpardaz</h2>
          <h3>I am a Front-end Developer and Motion Designer</h3>
          <button class="connectButton"><a href="#contact"> Connect With Me!</a></button>

      </div>

<div id="about">
    <div class="aboutMe">
        <h1>ABOUT ME</h1>
        <!-- <h2>Born in London, On. I am currently enrolled in the Interactive Media Design program at Fanshawe College.</h2>
        <h3>Prior to going to Fanshawe, I was a marketing coordinator.</h3>
        <h4>I am striving to improve at my craft everyday. I returned to school and rebuilt myaelf so that I could provide my pug with the best life possible.</h4>
        <h5>Applications I specialize in:</h5> -->
    </div>
</div>

<div id="portfolio">
    <div class="portfolioMe">
        <h1>PORTFOLIO</h1>
        <h3></h3>
    </div>
</div>

<div id="contact">
    <div class="contactMe">
        <h1>CONTACT</h1>
        <h3></h3>
    </div>
</div>

<div id="footer">
    <h1>Copyright 2020 - Created by Gino Ghalehpardaz</h1>
</div>

   
<script src="/public/js/main.js"></script>
</body>
</html>