<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gino portfolio</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <div id="openBox" onclick="openNav()">&#9776; </div>

    <div id="mainNav" class="sideNav">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Portfolio</a>
    <a href="#">Contact</a>
    <a href="#" class="closeButton" onclick="closeNav()">&times;</a>

    <div class="socialMedia">
        <div class="instagram"><a href="https://www.instagram.com/ginoghal/"><img src="/public/images/instagram_logo.svg" alt="instagram"></a></div>
        <div class="linkedIn"><a href="https://www.linkedin.com/in/gino-ghalehpardaz-7b4a05122/"><img src="/public/images/linkedin_logo.svg" alt="linkedin"></a></div>
        <div class="github"><a href="https://github.com/ginoghal"><img src="/public/images/github_logo.svg" alt="github"></a></div>
        </div>


      </div>

      <div class="title">
          <h1>My Name is Gino Ghalehpardaz</h1>
          <h3>I am a Front end Developer and Video Production Specialist</h3>
      </div>

<div class="about">
    <div class="aboutTitle">
        <h1>ABOUT</h1>
        <h3></h3>
    </div>
</div>

   
<script src="/public/js/main.js"></script>
</body>
</html>