<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gino portfolio</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap" rel="stylesheet">
</head>
<body>
    <div id="logo"><a href="#"><img src="/public/images/Glogo.svg" alt="logo"></a></div>

    <div class="hContainer">
    <div id="openBox" onclick="openNav()">&#9776; </div>
    </div>

    <div id="mainNav" class="sideNav">
    <a href="#">Home</a>
    <a href="#about">About</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contact">Contact</a>
    <a href="#" class="closeButton" onclick="closeNav()">&times;</a>

    <div class="socialMedia">
        <div class="instagram"><a href="https://www.instagram.com/ginoghal/"><img src="/public/images/instagram_logo.svg" alt="instagram"></a></div>
        <div class="linkedIn"><a href="https://www.linkedin.com/in/gino-ghalehpardaz-7b4a05122/"><img src="/public/images/linkedin_logo.svg" alt="linkedin"></a></div>
        <div class="github"><a href="https://github.com/ginoghal"><img src="/public/images/github_logo.svg" alt="github"></a></div>
        </div>

      </div>

      <div id="title">
        <div class="animated animated FadeInUp fadeInUp">
            <h2>Gino Ghalehpardaz</h2>
        </div>
          <h3>I am a Front-end Developer and Motion Designer</h3>
          <div class="profileImage"><img src="/public/images/ginogprofilepic.png" alt="ginoProfilePic"></div>
          <button class="connectButton"><a href="#contact"> Connect With Me!</a></button>

      </div>

<div id="aboutWaves">
    <img src="/public/images/aboutwave.png" alt="aboutwave">

    <div class="aboutMe">
        <h1>WHO I AM</h1>
        <h2>Born in London, On. I am currently enrolled in the Interactive Media Design program at Fanshawe College.</h2>
        <h3>Prior to going to Fanshawe, I was a marketing coordinator.</h3>
        <h4>I am striving to improve at my craft everyday. I returned to school and rebuilt myself so that I could provide my pug with the best life possible.</h4>
        
        <div class="pug"><img src="/public/images/Pugsley.png" alt="pug"></div>
    </div>
    </div>

<div id="portfolioWaves">
<img src="/public/images/portfoliowave.png" alt="portfoliowave">

    <div class="portfolio">
        <h1>My Portfolio of Work</h1>
        <h3></h3>
</div>
</div>

<div id="contactWaves">
<img src="/public/images/contactwave.png" alt="contactwave">

    <div class="contactMe">
        <h1>Contact Me</h1>
    <form>
 <h3> Name:</h3><br>
  <input class="nameinput" name="name">
  <br>
  <h3>Email:</h3><br>
  <input class="emailinput" name="email_address">
 <br>
  <h3>Message:</h3><br>
  <input class="messageinput" name="message">
   <div class="submitinput"></div>

   <input type="submit" value="Submit">
</div>
</div>
</form>
 

    </div>
</div>
</div>


   
<script src="/public/js/main.js"></script>
</body>
</html>